.navbar{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: blue;
    display: flex;
    min-height: 7vh;
    justify-content: space-between;
   
    

a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
}